<div class="container-fluid myheading">
   <h2>Welcome To Book Store</h2>
</div>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark navwidth">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/new" class="nav-link">Create New Book</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  